<h1>This is About page!</h1>

<p> Here you can tell me about yourself, like do you like electricity and stuff?</p>

<p>
<%= link_to "Articles listing", articles_path %> | 
<%= link_to "HomePage", root_path %>
</p>