<h1>Rails on Udemy Homepage</h1>

<p>Hello World! Hey lol hop along! </p>
<p>Activated emmet extension for auto tag selector:
<ul><li>*.erb: html</li>
<li>ruby: html</li></ul></p>

<p>
And now, <b>showtime!</b> We proudly present to you:</br>
<%= link_to "Link to the Articles listing!", articles_path %> | 
<%= link_to "About page!", about_path %>
</p>