<div class="container" id="home-container">     
<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4">Rails on Udemy</h1>
  <p class="lead">This is a Rails on Udemy like no other. It might be once in a lifetime opportunity. Dont miss it, enjoy FOMO and follow us for more useful advices.</p>
</div>
</div>

<p>
And now, <b>showtime!</b> We proudly present to you:</br>
<%= link_to "Link to the Articles listing!", articles_path %> | 
<%= link_to "About page!", about_path %>
</p>