h1 {
    color: green;
  }

.navbar {
    background-color: #050505 !important;
  }

.nav-link {
    color: #c9fac9 !important;
  }

.dropdown-menu {
    color: #c9fac9 !important;
  }

 #logo {
    color: #f2f3f2 !important;
    float: left;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
  }

  #home-container {
    background-color: #d2f5d2 !important;
    margin-top: 25px;
  }