h1 {
  font-weight: bold;
}

.navbar {
    background-color: #050505 !important;
  }

.nav-link {
    color: #c9fac9 !important;
  }

.dropdown-menu {
    color: #c9fac9 !important;
  }

 #logo {
    color: #f5f8f5 !important;
    float: left;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
  }

  #home-container {
    margin-top: 25px;
  }

  .jumbotron {
    background-image: asset-url("fox.jpg");
    background-size: 100%;
  }

  #button-margin {
    margin-bottom: 25px;
  }

  #text-container {
    margin-top: 25px;
    text-align: center;
  }

  /* STICKY FOOTER */
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 50px; /* Vertically center the text there */
    text-align: center;
    background-color: #050505;
  }

body {
  background-color: #b9b8b8;
}